<h1>Cat's Index</h1>

<ul>
  
  <% @cats.each do |cat| %>
    <%= cat.name %>
    <a href="<%=cat_url(cat)%>">Visit this Cat</a>
    <br></br>
  <% end %>
  <a href="<%=new_cat_url%>">Create new Cat</a>
</ul>